@use './variables.scss';

:root {
  --bg-color: #{variables.$light-bg};
  --text-color: #{variables.$light-text};
  --primary-color: #{variables.$light-primary};
  --secondary-color: #{variables.$light-secondary};
  --container-bg: #{variables.$light-container-bg};
  --danger-color: #{variables.$danger-color};
  --button-text-color: #{variables.$light-bg};
  --primary-color-rgb: #{variables.$light-primary-rgb};

  --font-primary: #{variables.$font-family-primary};
  --font-secondary: #{variables.$font-family-secondary};

  --transition-speed: #{variables.$transition-speed};
  --transition-ease: #{variables.$transition-ease};
}

body.dark-mode {
  --bg-color: #{variables.$dark-bg};
  --text-color: #{variables.$dark-text};
  --primary-color: #{variables.$dark-primary};
  --secondary-color: #{variables.$dark-secondary};
  --container-bg: #{variables.$dark-container-bg};
  --button-text-color: #{variables.$dark-bg};
  --primary-color-rgb: #{variables.$dark-primary-rgb};
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background-color var(--transition-speed) var(--transition-ease),
              color var(--transition-speed) var(--transition-ease);
}

main {
  flex-grow: 1;
  display: block;
  width: 100%;
}

.button {
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: var(--font-primary);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: filter var(--transition-speed) var(--transition-ease),
              background-color var(--transition-speed) var(--transition-ease),
              color var(--transition-speed) var(--transition-ease);

  &:hover {
     filter: brightness(1.1);
  }
}

.button-primary {
  @extend .button;
  background-color: var(--primary-color);
  color: var(--button-text-color);
}